<main class="clr-row clr-break-row clr-justify-content-center">
    <section class="clr-row clr-break-row clr-col-md-10 ">
        <app-charity-single class="clr-col-md-3" [charity]="charity" [singleView]="false" *ngFor="let charity of charities" ></app-charity-single>
    </section>
</main>
