<main class="clr-row clr-align-baseline clr-justify-content-center">
    <h1 class="clr-col-12">Network for giving</h1>
    <div class="clr-col-12">
        <button class="btn btn-outline" routerLink="/charity">View Charities</button>
    </div>
    <!--<img src="https://cdn.pixabay.com/photo/2016/12/22/22/07/hands-1926414_1280.jpg" alt="network for giving">-->
</main>
