main {
    height: 95vh;
    background-image: url("https://cdn.pixabay.com/photo/2016/12/22/22/07/hands-1926414_1280.jpg");
    background-size: cover;
    text-align: center;
}

main h1{
    color: white;
}
