<form clrForm [formGroup]="charityForm">
    <clr-input-container>
        <label>Title</label>
        <input clrInput type="text" formControlName="name"/>
        <!--<clr-control-helper>Helper text that shows while it is pristine and valid</clr-control-helper>-->
        <!--<clr-control-error>Error message that appears after focus is lost and control is invalid</clr-control-error>-->
    </clr-input-container>
    <clr-input-container>
        <label>Description</label>
        <input clrInput type="text" formControlName="description"/>
        <!--<clr-control-helper>Helper text that shows while it is pristine and valid</clr-control-helper>-->
        <!--<clr-control-error>Error message that appears after focus is lost and control is invalid</clr-control-error>-->
    </clr-input-container>
    <clr-input-container>
        <label>Budget required</label>
        <input clrInput type="text" formControlName="budgetRequired"/>
        <!--<clr-control-helper>Helper text that shows while it is pristine and valid</clr-control-helper>-->
        <!--<clr-control-error>Error message that appears after focus is lost and control is invalid</clr-control-error>-->
    </clr-input-container>
    <clr-input-container>
        <label>Participants required</label>
        <input clrInput type="text" formControlName="participantsRequired"/>
        <!--<clr-control-helper>Helper text that shows while it is pristine and valid</clr-control-helper>-->
        <!--<clr-control-error>Error message that appears after focus is lost and control is invalid</clr-control-error>-->
    </clr-input-container>
</form>
<label for="file-input">Thumbnail </label>
<input type="file" id="file-input" (change)="onFileChanged($event)">
<div id="buttons">
    <button class="btn btn-primary" type="submit" (click)="addCharity()">Add</button>
    <button class="btn" type="button" (click)="resetForm()">Reset</button>
</div>

<clr-modal [(clrModalOpen)]="successModal" [clrModalClosable]="false">
    <h3 class="modal-title">Charity saved</h3>
    <div class="modal-body">
        <p>Your charity has been saved!</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" routerLink="/charity">Ok</button>
    </div>
</clr-modal>
