<main class="clr-row clr-justify-content-center">
    <section class="clr-col-md-5">
        <app-charity-single [charity]="charity" [singleView]="true" class="clr-col-md-8"></app-charity-single>
    </section>

    <section class="clr-col-md-4 clr-align-self-top clr-justify-content-end">
        <button type="button" class="btn btn-primary" (click)="donationModal = true">Donate</button>
        <button type="button" class="btn btn-primary" (click)="participationModal = true">Participate</button>
    </section>

    <section class="clr-col-md-6">
        <h3>People donated to this charity:</h3>
        <div *ngFor="let donator of charityActivity.donators">{{donator.fname}} {{donator.lname}}</div>
    </section>

    <section class="clr-col-md-6">
        <h3>People participating in this charity:</h3>
        <div *ngFor="let volunteer of charityActivity.volunteers">{{volunteer.fname}} {{volunteer.lname}}</div>
    </section>

</main>

<clr-modal [(clrModalOpen)]="donationModal">
    <h3 class="modal-title">make donation</h3>
    <div class="modal-body">
        <form clrForm [formGroup]="donationForm">
            <clr-input-container>
                <label>Donation</label>
                <input clrInput type="number" placeholder="" formControlName="donation"/>
            </clr-input-container>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="donationModal = false">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="donate()">Ok</button>
    </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="participationModal">
    <h3 class="modal-title">Participate</h3>
    <div class="modal-body">
        <p>Are you sure you want to participate in the charity: {{charity.name}}?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="participationModal = false">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="participate()">Ok</button>
    </div>
</clr-modal>
