<form clrForm [formGroup]="loginForm">
    <clr-input-container>
        <label>Username</label>
        <input clrInput type="text" formControlName="username"/>
        <!--<clr-control-helper>Helper text that shows while it is pristine and valid</clr-control-helper>-->
        <!--<clr-control-error>Error message that appears after focus is lost and control is invalid</clr-control-error>-->
    </clr-input-container>
    <clr-input-container>
        <label>Password</label>
        <input clrInput type="text" formControlName="password"/>
        <!--<clr-control-helper>Helper text that shows while it is pristine and valid</clr-control-helper>-->
        <!--<clr-control-error>Error message that appears after focus is lost and control is invalid</clr-control-error>-->
    </clr-input-container>

    <button class="btn btn-primary" type="submit" (click)="submit()">LogIn</button>
</form>
