<form clrForm [formGroup]="profileForm">
    <clr-input-container>
        <label>Username</label>
        <input clrInput type="text" formControlName="username" />
        <!--<clr-control-helper>Helper text that shows while it is pristine and valid</clr-control-helper>-->
        <!--<clr-control-error>Error message that appears after focus is lost and control is invalid</clr-control-error>-->
    </clr-input-container>
    <clr-input-container>
        <label>Password</label>
        <input clrInput type="text" formControlName="password" />
        <!--<clr-control-helper>Helper text that shows while it is pristine and valid</clr-control-helper>-->
        <!--<clr-control-error>Error message that appears after focus is lost and control is invalid</clr-control-error>-->
    </clr-input-container>
    <clr-input-container>
        <label>First Name</label>
        <input clrInput type="text" formControlName="fname" />
        <!--<clr-control-helper>Helper text that shows while it is pristine and valid</clr-control-helper>-->
        <!--<clr-control-error>Error message that appears after focus is lost and control is invalid</clr-control-error>-->
    </clr-input-container>
    <clr-input-container>
        <label>Last Name</label>
        <input clrInput type="text" formControlName="lname" />
        <!--<clr-control-helper>Helper text that shows while it is pristine and valid</clr-control-helper>-->
        <!--<clr-control-error>Error message that appears after focus is lost and control is invalid</clr-control-error>-->
    </clr-input-container>
    <clr-radio-container>
        <label>Gender</label>
        <clr-radio-wrapper>
            <input type="radio" clrRadio value="m" formControlName="gender" />
            <label>Male</label>
        </clr-radio-wrapper>
        <clr-radio-wrapper>
            <input type="radio" clrRadio value="f" formControlName="gender" />
            <label>Female</label>
        </clr-radio-wrapper>
        <!--<clr-control-error>This field is required!</clr-control-error>-->
    </clr-radio-container>
    <clr-select-container>
        <label>Age</label>
        <select clrSelect formControlName="age">
            <option *ngFor="let age of ages" value="{{age}}">{{age}}</option>
        </select>
    </clr-select-container>
    <clr-input-container>
        <label>Location</label>
        <input clrInput type="text" formControlName="location" />
        <!--<clr-control-helper>Helper text that shows while it is pristine and valid</clr-control-helper>-->
        <!--<clr-control-error>Error message that appears after focus is lost and control is invalid</clr-control-error>-->
    </clr-input-container>
    <!-- <clr-input-container> -->
        <!--<label>Sample Text</label>-->
        <!-- <input clrInput formControlName="ready" /> -->
        <button class="btn btn-primary" type="submit" (click)="register()">Register</button>
        <button class="btn" type="button" (click)="resetForm()">Reset</button>
    <!-- </clr-input-container> -->
</form>
