<article>
    <h3>{{charity.name}}</h3>
    <img [src]="retrievedImage" alt="thumbnail">
    <div *ngIf="!singleView">{{charity.description | slice:0:400}}[...]</div>
    <div *ngIf="singleView">{{charity.description}}</div>
    <div class="highlight">Money required: {{charityStats.donations}} of {{charity.budgetRequired}}</div>
    <div class="highlight">Participants required: {{charityStats.volunteers}} of {{charity.participantsRequired}}</div>
    <div>Created by: {{charity.creator.fname}} {{charity.creator.lname}}</div>
    <a *ngIf="!singleView" [routerLink]="['/charity/', charity.id]">SEE MORE</a>
</article>
