<clr-tabs>
    <clr-tab>
        <button clrTabLink>My account info</button>
        <clr-tab-content *clrIfActive>
            <section>
                    <div>First name: {{user.fname}}</div>
                    <div>Last name: {{user.lname}}</div>
                    <div>Username: {{user.username}}</div>
                    <div>Age: {{user.age}}</div>
                    <div>Gender: {{user.gender}}</div>
                    <div>Location: {{user.location}}</div>
            </section>
        </clr-tab-content>
    </clr-tab>
    <clr-tab>
        <button clrTabLink>My Activity</button>
        <clr-tab-content *clrIfActive>
            <section class="clr-row">
                <h3 class="clr-col-md-12">Charities you have volunteered to:</h3>
                <app-charity-single class="clr-col-md-2" *ngFor="let charity of userActivity.volunteeredIn"
                                    [charity]="charity" [singleView]="false"></app-charity-single>
            </section>
            <section class="clr-row">
                <h3 class="clr-col-md-12">Charities you have donated to:</h3>
                <app-charity-single class="clr-col-md-2" *ngFor="let charityDonation of userActivity.donatedTo"
                                    [charity]="charityDonation.charity" [singleView]="false"></app-charity-single>
            </section>
            <section>
                <h3>Total amount of money donated: {{userActivity.amountDonated}}</h3>
            </section>
        </clr-tab-content>
    </clr-tab>
</clr-tabs>



